body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
.header1 {
            background-color: #333;
            padding: 20px;
        }
        .content {
            margin: 20px;
        }
        a {
            color: lightgreen;
            text-decoration: none;
        }
        .device-image, .tent-image {
            max-width: 100%;
            height: auto;
        }
        footer {
            font-size: 12px;
            margin-top: 20px;
        }

        h1{
            color: white
        }